[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
isort = "*"
black = "*"
flake8 = "*"
pep8-naming = "*"
safety = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
